target/
lib/
coverage/
*.log

.idea/
*.iml

*.code-workspace
 

logs/
/app/node_modules/
/conf/webpack-assets.json
/public/*.js
/public/webpack-assets.json

app/dist/
tmp_client_bundle/

app/.DS_Store
.scannerwork/
app/test-report.xml
