dist/*
target/
project/boot/
project/plugins/project/
.history
.cache
.lib/
*.class
*.log

.idea/
.idea/workspace.xml
logs/
/frontend/node_modules/
/conf/webpack-assets.json
/.vscode/
/public/*.js
/public/webpack-assets.json

