target/
lib/
coverage/
*.log

.idea/
*.iml

*.swp
*.swo

*.code-workspace
/app/.vscode/ 

logs/
/app/node_modules/
/conf/webpack-assets.json
/public/*.js
/public/webpack-assets.json

app/dist/
tmp_client_bundle/

.DS_Store
.scannerwork/
app/test-report.xml
