{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "emotion",
    "@babel/proposal-class-properties"
  ],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-source-map-support"
      ],
      "presets": [
        [
          "@babel/env",
          {
            "targets": {
              "node": "10.7.0"
            }
          }
        ],
        "@babel/typescript",
        "@babel/react"
      ]
    }
  }
}